.infoSection_roomBracket {
}
.infoSection_roomName {
  margin-left: 8px;
  font-weight: bold;
  color: white;
}
.infoSection_toolBar {
  display: flex;
  align-items: center;
  margin-right: 8px;
  flex: 0 0 auto;
  background: #36393f;
  box-shadow: 0px -15px 6px 5px #36393f;
  min-width: 0;
}
.infoSection_searchInChannel {
  height: 48px;
  display: flex;
  align-items: center;
  margin: 0 8px;
  flex: 0 0 auto;
  color: white;
  height: 48px;
  position: relative;
  width: auto;
}

.infoSection_searchInChannel_searchIcon {
  display: flex;
  color: #72767d;
  background-color: #202225;
  position: absolute;
  right: 0;
  width: 30px;
}
.infoSection_searchInput {
  background-color: #202225;
  border: none;
  color: #dcddde;
  border-radius: 4px;
  height: 24px;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  user-select: none;
  outline: 0;
  padding-left: 4px;
  padding-right: 30px;
  width: 144px;
}
.infoSection_searchInput::placeholder {
  color: #72767d;
  position: absolute;
  left: 6px;
  top: 5.5px;
  font-family: sans-serif;
  font-size: 13px;
}
.infoSection_searchInput:focus{
  width: 240px;
}

.infoSection-channel_info {
  display: flex;
  align-content: center;
  margin-left: 16px;
  flex: 1 1 auto;
  min-width: 0;
  white-space: nowrap;
  user-select: none;
}

.infoSection-channel_logo {
  min-width: 24px;
}

.infoSection_toolIcons {
  display: flex;
  align-items: center;
}

.infoSection-helperIcons {
  display: flex;
}

.infoSection_icon {
  margin: 0 8px;
  cursor: pointer;
  fill: #b9bbbe;
}

.infoSection_icon_active {
  margin: 0 8px;
  cursor: pointer;
  fill: #fff;
}
.infoSection_icon path , .infoSection_icon_active path{
  pointer-events: none;
}

.infoSection_icon:hover, .infoSection_icon_active:hover {
  fill: #dcddde;
}
