.channelPage-peopleList-right {
  display: flex;
  flex: 0 0 auto;
  min-width: 240px;
  background-color: #2F3136;
  flex-direction: column;
  z-index: 2;
  overflow: hidden hidden;
}

.channelPage-peopleList-right::-webkit-scrollbar {
  width: 8px;
  
}
.channelPage-peopleList-right::-webkit-scrollbar-track {
  background: #2F3136;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: padding-box;
}

.channelPage-peopleList-right::-webkit-scrollbar-thumb{
  background: #202225;
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
.channelPage-peopleList-right:hover{
  overflow-y: auto ;
}

.channelPage_channelUsers{
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.channelPage_userGroup{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.peopleList-roleTitle {
  letter-spacing: 0.25px;
  text-transform: uppercase;
  color: #8e9297;
  font-size: 12px;
  font-weight: 500;
  padding: 24px 8px 0 16px;
  margin: 0;
  height: 40px;
}
.peopleList-user {
  display: flex;
  align-items: center;
  border-radius: 4px;
  height: 42px;
  padding: 0 8px;
  white-space: nowrap;
  cursor: pointer;
  margin-left: 8px;
}
.peopleList-user:hover {
  background-color: rgba(79, 84, 92, 0.32);
}
.peopleList-image {
  border-radius: 50%;
}

.peopleList-nameOfPeople {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: rgb(148, 127, 61);
}

.channelPage_userAvatar{
  margin-right: 12px;
  margin-top: 2px;
}
