.channelBar {
    width: 72px;
    background-color: #202225;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.channelIcon {
    color: #dcddde;
    background-color: #36393F;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    width: 48px;
    height: 48px;
    transition: 0.2s ease-out;
}

.channelIcon:hover {
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.2s ease-out;
    background-color: #5865F2;
    color: white;
}

.listItem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 8px;
}

.seperator {
    height: 2px;
    width: 32px;
    border-radius: 1px;
    background-color: #2D2F32;
}