.profile-panel {
  display: flex;
  background-color: #292b2f;
  height: 52px;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  padding: 0 8px;
  width: 240px;
  color: white;
  justify-items: center;
  flex-shrink: 0;
  margin-top: auto;
}
.panel-username {
  display: flex;
  flex-direction: column;
  margin-right: 4px;
  flex-grow: 1;
  cursor: pointer;
  user-select: none;
}
.panel-username span {
  color: #b9bbbe;
  font-size: 12px;
  font-weight: normal;
  line-height: 13px;
}

.panel-avatar {
  margin-right: 8px;
  cursor: pointer;
  user-select: none;
}
.panel-avatar:hover {
  opacity: 0.7;
}

.panel-icons {
  display: flex;
  align-items: center;
}

.panel-icons button {
  display: flex;
  align-items: center;
  background-color: #292b2f;
  border: 0;
  color: #b9bbbe;
  height: 32px;
  width: 32px;
  border-radius: 4px;
  cursor: pointer;
}
.panel-icons button:hover {
  background-color: #2f3136;
}
