.channelSettingsModal {
  position: relative;
}
.channelSettingsModal_items {
  display: flex;
  flex-direction: column;
  background-color: #18191c;
  z-index: 9;
  color: rgb(202, 200, 200);
  position: absolute;
  top: 8px;
  left: 8px;
  width: 225px;
  line-height: 110%;
  font-size: 80%;
  border-radius: 5px;
}
/* .channelSettingsModal_items:nth-last-child() {
  color: red;
} */
.channelSettingsModal_items p {
  cursor: pointer;
  padding: 8px;
  margin: 6px;

  width: 170px;
}
.channelSettingsModal_items li:hover {
  background-color: #4752c4;
  color: white;
}
.channelSettingsModal hr {
  height: 1px;
  width: 90%;
  border-radius: 1px;
  border-style: none;
  background-color: #2d2f32;
}
.channelSettingsModal_items svg {
  display: flex;
  align-items: center;
  right: 20px;
  width: 30px;
}
.channelSettingsModal_items ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
.channelSettingsModal_items li {
}
