.channelSettingsModal {
  position: relative;
}
.channelSettingsModal_items {
  display: flex;
  flex-direction: column;
  background-color: #18191c;
  z-index: 9;
  color: #b9bbbe;
  position: absolute;
  top: 8px;
  left: 10px;
  width: 220px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  padding: 6px 8px;
  user-select: none;
}
/* .channelSettingsModal_items:nth-last-child() {
  color: red;
} */
.channelSettingsModal_items p {
  cursor: pointer;
  width: 170px;
  height: 12px;
}

.channelSettingsModal_items ul:hover {
  background-color: #4752c4;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.channelSettingsModal_items svg {
  display: flex;
  position: relative;
  width: 18px;
  height: 18px;
}
.channelSettingsModal_items ul {
  margin: 2px 0;
  padding: 6px 8px;
  list-style: none;
  display: flex;
  align-items: center;
  height: 32px;
}
.channelSettingsModal_items li {
  display: flex;
  align-items: center;
}

.channelSettingsModal_seperator {
  margin: 2px 4px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.06);
}

.channelSettingsModal_leaveChannel {
  color: #ed4245;
}
.channelSettingsModal_leaveChannel:hover {
  background-color: #ed4245 !important ;
}

.channelSettingsModal_invitePeople {
  color: #949cf7;
}

/* 



*/
.addChannelModal_background{
  position: absolute;
  background: hsl(0, calc(var(--saturation-factor, 1) * 0%), 0%);
  width: 100vw;
  height: 100vh;
  opacity: 0.85;
  z-index: 50;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.addChannelModal_layer {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 51;
  padding: 100px 0;
} 

@keyframes opening_2 {
  from {height: 500px;}
  to {height: 558px;}
}

@keyframes opening {
  0% {
      height: 400px;
      transform: translate3d(0px, -50%, 0px) scale(0.4,0.4);
  }
  100% {
      height: 558px;
      transform: translate3d(0px, -50%, 0px) scale(1,1);
  }
}

.addChannelModal {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 52;
  background: white;
  width: 440px;
  height: 558px;
  min-height: 0;
  border-radius: 4px;
  right: auto;
  left: auto;
  top: 50%;
  margin: 0 auto;
  user-select: none;
  transform: translate3d(0px, -50%, 0px) scale(1,1);
  animation: opening 250ms;
  overflow-y: scroll;
}

.addChannelModal::-webkit-scrollbar {
  width: 0px;
  visibility: hidden;
}

.addChannelModal_upper{
  display: flex;
  flex-direction: column;
  padding: 24px 16px 0;
  justify-content: flex-start;
  flex: 0 0 auto;
  overflow: auto;
}

.addChannelModal_upper h2 {
  text-align: center;
  line-height: 30px;
  margin: 0;
}
.addChannelModal_upper span {
  display: flex;
  text-align: center;
  margin: 0;
  margin-top: 8px;
  line-height: 20px;
  color: #4F5660;
  font-size: 15px;
}

.addChannelModal_content {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 8px 8px 16px;
  margin-top: 24px;
  overflow: hidden scroll;
  height: 330px;
  flex: 0 0 auto;
}

.addChannelModal_content::-webkit-scrollbar {
  width: 8px;
}
.addChannelModal_content::-webkit-scrollbar-track {
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: padding-box;
  background: transparent;
}

.addChannelModal_content::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: rgba(79,84,92,0.3);
}

.addChannelModal_content span {
  color: #4F5660;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.95;
  margin: 8px 0;
}
.addChannelModal_createChannel {
  display: flex;
  align-items: center;
  min-width: 100%;
  min-height: 64px;
  border-radius: 8px;
  border: 1px solid rgba(6,6,7,0.08);
  cursor: pointer;
  margin-bottom: 8px;
}
.addChannelModal_createChannel:hover {
  background: rgba(116,127,141,0.08);
}
.addChannelModal_createChannel_logo {
  margin-left: 16px;
}
.addChannelModal_createChannel_title {
  margin-left: 8px;
  font-weight: bold;
  color: #2E3338;
  
}
.addChannelModal_createChannel_arrow {
  margin-left: auto;
  margin-right: 16px;
}

.addChannelModal_lower{
  display: flex;
  flex-direction: column;
  background: #F6F6F7;
  padding-bottom: 12px;
  position: relative;
}
.addChannelModal_lower h2{
  font-weight: bold; 
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
}
.addChannelModal_lower button{
  margin: 0 16px;
  border-radius: 2px;
  height: 38px;
  background: #747F8D;
  border: 0;
  color: white;
  cursor: pointer;
  transition: 200ms;
  opacity: 0.95;
}

.addChannelModal_lower button:hover {
  background-color: #5e6772;
}

.addChannelModal_closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #4f5660;
  opacity: 0.5;
  cursor: pointer;
  transition: 300ms;
}
.addChannelModal_closeButton:hover {
  opacity: 1;
  color: #2e3338;
}
